.display {
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-size: 3rem;
	grid-area: 2/1/3/1;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	margin-top: 10px;
	background-color: hsl(201.7, 50%, 90%);
	opacity: 0.9;
	align-self: center;
	justify-self: center;
}

@media only screen and (max-width: 375px) {
	.display {
		font-size: 1.8rem;
	}
}

.startButton {
	line-height: 120px;
	height: 120px;
	font-size: 10rem;
	font-weight: bolder;
	color: hsl(197.9, 55.8%, 47.1%);
	outline: none;
}

.startButton:hover {
	opacity: 0.5;
}

.trophy {
	margin-top: 10px;
	font-size: 5rem;
	color: hsl(197.9, 55.8%, 47.1%);
}

.trophy:hover {
	opacity: 0.5;
}
