body {
	font-family: Pixel, Arial, Helvetica, sans-serif;
	color: rgb(50, 50, 50);
	font-size: 2.2rem;
}

@media only screen and (max-width: 375px) {
	body {
		font-size: 1.5rem;
	}
}

body::before {
	content: "";
	background-image: url("../image/background.jpg");
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
	transform: scaleX(-1);
	z-index: -1;
}

.grid-container {
	display: grid;
	width: auto;
	height: auto;
	max-height: 90vh;
	max-width: 90vw;
	grid-template-columns: auto auto;
	grid-template-rows: 40px 1fr;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-container * {
	border-radius: 10px;
	box-sizing: border-box;
}

.flex-container {
	max-height: 100%;
	max-width: 40vw;
	grid-area: 2/2/3/3;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* visibility: hidden; */
}
.flex-container * {
	max-width: 100%;
	background-color: hsl(201.7, 50%, 90%);
	border: 10px;
}

.score {
	padding: 5px;
	/* border-top-left-radius: 10px; */
	grid-area: 1/1/2/3;
	background-color: hsl(201.7, 50%, 70%);
}

.next-piece {
	padding: 5px;
	margin: 10px 0px 0px 10px;
}

.next-piece-canvas {
	height: 64px;
	width: 80px;
	margin: 0 auto;
	margin-top: 0px;
}

.next-piece-wrapper {
	text-align: center;
}

.lines-cleared {
	padding: 5px;
	margin: 10px 0px 0px 10px;
}

.level {
	padding: 5px;
	margin: 10px 0px 0px 10px;
}

.value-text {
	color: hsl(197.9, 55.8%, 47.1%);
	margin-left: 5px;
}
